*tokens.py
source_token.txt
Zooniverse/logs/**
Zooniverse/.snakemake/**
App/Zooniverse/data/PredictedBirds.cpg
App/Zooniverse/data/PredictedBirds.dbf
App/Zooniverse/data/PredictedBirds.prj
App/Zooniverse/data/PredictedBirds.shp
App/Zooniverse/data/PredictedBirds.shx
App/Zooniverse/data/nest_detections.cpg
App/Zooniverse/data/nest_detections.dbf
App/Zooniverse/data/nest_detections.prj
App/Zooniverse/data/nest_detections.shp
App/Zooniverse/data/nest_detections.shx
App/Zooniverse/data/nest_detections_processed.cpg
App/Zooniverse/data/nest_detections_processed.dbf
App/Zooniverse/data/nest_detections_processed.prj
App/Zooniverse/data/nest_detections_processed.shp
App/Zooniverse/data/nest_detections_processed.shx
.Rhistory
.vscode/launch.json

# Config files
*.DS_Store*
*.idea*
*.pytest_cache*
*__pycache__*
App/.R*
App/App.Rproj
