*tokens.py
App/Zooniverse/data/PredictedBirds.cpg
App/Zooniverse/data/PredictedBirds.dbf
App/Zooniverse/data/PredictedBirds.prj
App/Zooniverse/data/PredictedBirds.shp
App/Zooniverse/data/PredictedBirds.shx
App/Zooniverse/data/nest_detections.cpg
App/Zooniverse/data/nest_detections.dbf
App/Zooniverse/data/nest_detections.prj
App/Zooniverse/data/nest_detections.shp
App/Zooniverse/data/nest_detections.shx
App/Zooniverse/data/nest_detections_processed.cpg
App/Zooniverse/data/nest_detections_processed.dbf
App/Zooniverse/data/nest_detections_processed.prj
App/Zooniverse/data/nest_detections_processed.shp
App/Zooniverse/data/nest_detections_processed.shx
Zooniverse/.snakemake/**
Zooniverse/logs/**
Zooniverse/lightning_logs
source_token.txt

# Config files
*.DS_Store*
*.idea*
*.pytest_cache*
*__pycache__*
*_cache*
.Rhistory
.vscode/launch.json
App/.R*
*.Rproj*
*.RData*

